
/*

body {
    background-color: #142128;
    }

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.carousel-item img {
    width: 100%;
    height: 500px; // Aumentar la altura del carrusel
    object-fit: cover;
}

#carouselOfertas {
    max-width: 800px;
    margin: auto;
}

.navbar {
    background-color: rgb(85, 200, 85) !important;
}

.hero-section {
    background: url('/img/brick-fence-and-spring-green-leaves-picjumbo-com.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    }

.card img {
    height: 200px;
    object-fit: cover;
}

.btn-primary {
    background-color: rgb(30, 68, 18);
    color: #c8d5e4;
    border: 1px solid #ddd;
}
//Estilos para el formulario de contacto
.contact-section {
    background-color: #142128; // Color de fondo azul
    color: white;
    padding: 3rem 0;
}

.contact-section h1 {
    color: white;
    margin-bottom: 1.5rem;
}

.contact-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    font-weight: 600;
    color: #555; // Color oscuro para las etiquetas dentro del formulario 
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    color: #333; // Color oscuro para el texto de entrada 
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
}

.contact-form button[type="submit"] {
    background-color: #142128;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-info {
    color: white;
}

.contact-info h3 {
    color: white;
    margin-bottom: 1rem;
}

.contact-info p {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .contact-info {
        margin-top: 2rem;
    }
}

// Estilos para el botón de volver a inicio
.back-to-home {
    margin-top: 2rem;
    transition: all 0.3s ease;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.back-to-home:hover {
    background-color: white;
    color: #007bff;
}

/*

